In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.keys()

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
tempdf = crowdfunding_info_df['category & sub-category'].str.split('/',n=2,expand=True)
crowdfunding_info_df['category'], crowdfunding_info_df['subcategory'] = tempdf[0],tempdf[1]
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [6]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df.category.unique().tolist()
subcategories= crowdfunding_info_df.subcategory.unique().tolist()
print(categories)
print(subcategories)

['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat'+str(num) for num in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = ['subcat'+str(num) for num in subcategory_ids]
    
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id':cat_ids,
                            'category':categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id':scat_ids,
                            'subcategory':subcategories})

In [11]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [12]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/NICK_category.csv", index=False)

subcategory_df.to_csv("Resources/NICK_subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={'blurb':'description',
                                          'launched_at':'launch_date',
                                          'deadline':'end_date'})
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [16]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df[['goal','pledged']] = campaign_df[['goal','pledged']].astype('float64')

In [17]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [18]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s').dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s').dt.strftime('%Y-%m-%d')

In [19]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = campaign_df.merge(category_df, on ='category')
campaign_merged_df = campaign_merged_df.merge(subcategory_df, on ='subcategory')
campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300.0,2111.0,failed,57,CA,CAD,2021-12-29,2022-01-16,False,False,photography/photography books,photography,photography books,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700.0,1343.0,failed,52,US,USD,2020-07-07,2021-07-27,False,False,photography/photography books,photography,photography books,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000.0,8142.0,failed,263,AU,AUD,2020-12-20,2021-01-31,False,False,photography/photography books,photography,photography books,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000.0,55805.0,failed,1691,US,USD,2021-04-08,2021-12-18,True,False,photography/photography books,photography,photography books,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900.0,4997.0,failed,114,IT,EUR,2021-07-23,2021-11-25,False,True,photography/photography books,photography,photography books,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,False,False,journalism/audio,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,False,False,journalism/audio,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,False,False,journalism/audio,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,False,False,journalism/audio,journalism,audio,cat9,subcat24

In [20]:
# Drop unwanted columns
cols = ['staff_pick','spotlight','category & sub-category','category','subcategory']
campaign_cleaned = campaign_merged_df.drop(columns=cols)
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,2020-06-20,2021-01-30,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,2020-11-29,2021-06-11,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400.0,21307.0,failed,296,US,USD,2020-05-05,2021-05-30,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,2021-01-29,2021-02-13,cat1,subcat1

In [30]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/NICK_campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [42]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [35]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []
for item in contact_info_df:
    print(item)

# Print out the list of values for each row.
# print(dict_values)

In [24]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [25]:
# Check the datatypes.

In [26]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [27]:
# Reorder the columns

In [28]:
# Check the datatypes one more time before exporting as CSV file.

In [29]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

NameError: name 'contacts_df_clean' is not defined

### Option 2: Use regex to create the contacts DataFrame.

In [43]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [140]:
# Extract the four-digit contact ID number.
import re
id_list = []
for i in range(len(contact_info_df_copy)):
#     if i == 0:
#         continue
    id_list.append(re.findall('\d{4}', contact_info_df_copy['   '][i]))
id_list

[[],
 ['4661'],
 ['3765'],
 ['4187'],
 ['4941'],
 ['2199'],
 ['5650'],
 ['5889'],
 ['4842'],
 ['3280'],
 ['5468'],
 ['3064'],
 ['4904'],
 ['1299'],
 ['5602'],
 ['5753'],
 ['4495'],
 ['4269'],
 ['2226'],
 ['1558'],
 ['2307'],
 ['2900'],
 ['5695'],
 ['5708'],
 ['1663'],
 ['3605'],
 ['4678'],
 ['2251'],
 ['6202'],
 ['3715'],
 ['4242'],
 ['4326'],
 ['5560'],
 ['4002'],
 ['3813'],
 ['5336'],
 ['4994'],
 ['1471'],
 ['4482'],
 ['3241'],
 ['3477'],
 ['2265'],
 ['5911'],
 ['2288'],
 ['4064'],
 ['1294'],
 ['5008'],
 ['3604'],
 ['3263'],
 ['5631'],
 ['2851'],
 ['3714'],
 ['1664'],
 ['5027'],
 ['3070'],
 ['4248'],
 ['2034'],
 ['4085'],
 ['3569'],
 ['3889'],
 ['3136'],
 ['2103'],
 ['2329'],
 ['3325'],
 ['3131'],
 ['4995'],
 ['3631'],
 ['5373'],
 ['3126'],
 ['2194'],
 ['2906'],
 ['2611'],
 ['2374'],
 ['3254'],
 ['3571'],
 ['2812'],
 ['3961'],
 ['3872'],
 ['4736'],
 ['5119'],
 ['5725'],
 ['4037'],
 ['2109'],
 ['3283'],
 ['6181'],
 ['3251'],
 ['3443'],
 ['2988'],
 ['1673'],
 ['2085'],
 ['1672'],
 ['4426'],
 ['3211'],
 ['3190'],
 ['2081'],
 ['3185'],
 ['5044'],
 ['1883'],
 ['2067'],
 ['4604'],
 ['3203'],
 ['5758'],
 ['5755'],
 ['5150'],
 ['4181'],
 ['3006'],
 ['4865'],
 ['2862'],
 ['6070'],
 ['5300'],
 ['3486'],
 ['5989'],
 ['2849'],
 ['1612'],
 ['3307'],
 ['5288'],
 ['6026'],
 ['2212'],
 ['4591'],
 ['2771'],
 ['5682'],
 ['5368'],
 ['3706'],
 ['4034'],
 ['3209'],
 ['2384'],
 ['3074'],
 ['2031'],
 ['5873'],
 ['5501'],
 ['3489'],
 ['4210'],
 ['6151'],
 ['6047'],
 ['5445'],
 ['5493'],
 ['6036'],
 ['2368'],
 ['1501'],
 ['4351'],
 ['3096'],
 ['6162'],
 ['1433'],
 ['2720'],
 ['5251'],
 ['1797'],
 ['1656'],
 ['1346'],
 ['2989'],
 ['5629'],
 ['3456'],
 ['3229'],
 ['2277'],
 ['1276'],
 ['3694'],
 ['2260'],
 ['5374'],
 ['4420'],
 ['3849'],
 ['1638'],
 ['5230'],
 ['1763'],
 ['4323'],
 ['5256'],
 ['4836'],
 ['5981'],
 ['1463'],
 ['4577'],
 ['4951'],
 ['3567'],
 ['5475'],
 ['2114'],
 ['5216'],
 ['1665'],
 ['6051'],
 ['3983'],
 ['2966'],
 ['4478'],
 ['4238'],
 ['4404'],
 ['5666'],
 ['3691'],
 ['2703'],
 ['4253'],
 ['5652'],
 ['3279'],
 ['3233'],
 ['3017'],
 ['3482'],
 ['2166'],
 ['4146'],
 ['2651'],
 ['1409'],
 ['3717'],
 ['3963'],
 ['2152'],
 ['2974'],
 ['1268'],
 ['1822'],
 ['5066'],
 ['5075'],
 ['3855'],
 ['5923'],
 ['1867'],
 ['4376'],
 ['2785'],
 ['5884'],
 ['2441'],
 ['1243'],
 ['3411'],
 ['2467'],
 ['1850'],
 ['2604'],
 ['1693'],
 ['2969'],
 ['1544'],
 ['4149'],
 ['3463'],
 ['2939'],
 ['2202'],
 ['1728'],
 ['5362'],
 ['4840'],
 ['2955'],
 ['5354'],
 ['3847'],
 ['3025'],
 ['1615'],
 ['5154'],
 ['5005'],
 ['1349'],
 ['3670'],
 ['2912'],
 ['4336'],
 ['5576'],
 ['2736'],
 ['3321'],
 ['3353'],
 ['2336'],
 ['4369'],
 ['4464'],
 ['5626'],
 ['1669'],
 ['5544'],
 ['6078'],
 ['2580'],
 ['3592'],
 ['4914'],
 ['3848'],
 ['2619'],
 ['4605'],
 ['6147'],
 ['1383'],
 ['1757'],
 ['4390'],
 ['4165'],
 ['4529'],
 ['6084'],
 ['2916'],
 ['2005'],
 ['2261'],
 ['5342'],
 ['4087'],
 ['2761'],
 ['2908'],
 ['2155'],
 ['5642'],
 ['6217'],
 ['4222'],
 ['4798'],
 ['5660'],
 ['5000'],
 ['2809'],
 ['3349'],
 ['3647'],
 ['5745'],
 ['2583'],
 ['5441'],
 ['2090'],
 ['3386'],
 ['1816'],
 ['4718'],
 ['1677'],
 ['4218'],
 ['4548'],
 ['1431'],
 ['2830'],
 ['4400'],
 ['5773'],
 ['4161'],
 ['2062'],
 ['3458'],
 ['3174'],
 ['5565'],
 ['1906'],
 ['5479'],
 ['4320'],
 ['4213'],
 ['3373'],
 ['4184'],
 ['5472'],
 ['5559'],
 ['5419'],
 ['4171'],
 ['1302'],
 ['3520'],
 ['6010'],
 ['4617'],
 ['1417'],
 ['4770'],
 ['4328'],
 ['5171'],
 ['4394'],
 ['1794'],
 ['3510'],
 ['2487'],
 ['2215'],
 ['4136'],
 ['3723'],
 ['5842'],
 ['3289'],
 ['1249'],
 ['5409'],
 ['2951'],
 ['3432'],
 ['2297'],
 ['6161'],
 ['4603'],
 ['5818'],
 ['4270'],
 ['6007'],
 ['4084'],
 ['1340'],
 ['5675'],
 ['2010'],
 ['6201'],
 ['1791'],
 ['3314'],
 ['5852'],
 ['4618'],
 ['2618'],
 ['4967'],
 ['4594'],
 ['2080'],
 ['2793'],
 ['4890'],
 ['3528'],
 ['5810'],
 ['5720'],
 ['4593'],
 ['3186'],
 ['5136'],
 ['2646'],
 ['3460'],
 ['4345'],
 ['2690'],
 ['4025'],
 ['4524'],
 ['3978'],
 ['3910'],
 ['5825'],
 ['3564'],
 ['2396'],
 ['2140'],
 ['3079'],
 ['2017'],
 ['5444'],
 ['2216'],
 ['1241'],
 ['1484'],
 ['3475'],
 ['4333'],
 ['5657'],
 ['2527'],
 ['5967'],
 ['5698'],
 ['3331'],
 ['3841'],
 ['6105'],
 ['3895'],
 ['1891'],
 ['1281'],
 ['4186'],
 ['2511'],
 ['4272'],
 ['3533'],
 ['3618'],
 ['2177'],
 ['4102'],
 ['6089'],
 ['4701'],
 ['5645'],
 ['4499'],
 ['3365'],
 ['2290'],
 ['1890'],
 ['1304'],
 ['3799'],
 ['2749'],
 ['2028'],
 ['2383'],
 ['5721'],
 ['1394'],
 ['3451'],
 ['5512'],
 ['2453'],
 ['6055'],
 ['5704'],
 ['3707'],
 ['2205'],
 ['5976'],
 ['3290'],
 ['4257'],
 ['4588'],
 ['4785'],
 ['3033'],
 ['2779'],
 ['2131'],
 ['6229'],
 ['3429'],
 ['1613'],
 ['4734'],
 ['4439'],
 ['1441'],
 ['5799'],
 ['1419'],
 ['3059'],
 ['3224'],
 ['3181'],
 ['6061'],
 ['4466'],
 ['6081'],
 ['2159'],
 ['3324'],
 ['3176'],
 ['5874'],
 ['5110'],
 ['5490'],
 ['1922'],
 ['4398'],
 ['4754'],
 ['3309'],
 ['1244'],
 ['2892'],
 ['2777'],
 ['4952'],
 ['5144'],
 ['5487'],
 ['1932'],
 ['3364'],
 ['5165'],
 ['3858'],
 ['4666'],
 ['2896'],
 ['4520'],
 ['5726'],
 ['5661'],
 ['4765'],
 ['3710'],
 ['4925'],
 ['1533'],
 ['5264'],
 ['4606'],
 ['2043'],
 ['3871'],
 ['6205'],
 ['3193'],
 ['1810'],
 ['4797'],
 ['1487'],
 ['3474'],
 ['5771'],
 ['6074'],
 ['1568'],
 ['4263'],
 ['5850'],
 ['5619'],
 ['1904'],
 ['5388'],
 ['2150'],
 ['2653'],
 ['2687'],
 ['3779'],
 ['1494'],
 ['4129'],
 ['3035'],
 ['2069'],
 ['5469'],
 ['3903'],
 ['4083'],
 ['4003'],
 ['3565'],
 ['1640'],
 ['4769'],
 ['3398'],
 ['1865'],
 ['5690'],
 ['3814'],
 ['2942'],
 ['5095'],
 ['2878'],
 ['3697'],
 ['4744'],
 ['2104'],
 ['4883'],
 ['4807'],
 ['1372'],
 ['3666'],
 ['2066'],
 ['1834'],
 ['5853'],
 ['2219'],
 ['4148'],
 ['4477'],
 ['1786'],
 ['3455'],
 ['5707'],
 ['5470'],
 ['3274'],
 ['4613'],
 ['4465'],
 ['1652'],
 ['2100'],
 ['4321'],
 ['4168'],
 ['3733'],
 ['2594'],
 ['3909'],
 ['5179'],
 ['2228'],
 ['6222'],
 ['2354'],
 ['1725'],
 ['2960'],
 ['2077'],
 ['5662'],
 ['3481'],
 ['2565'],
 ['4436'],
 ['5072'],
 ['5200'],
 ['4502'],
 ['4945'],
 ['3012'],
 ['6094'],
 ['3815'],
 ['4838'],
 ['3469'],
 ['4874'],
 ['1792'],
 ['4356'],
 ['6196'],
 ['3578'],
 ['4491'],
 ['3054'],
 ['1968'],
 ['5869'],
 ['5858'],
 ['5203'],
 ['2577'],
 ['3216'],
 ['2037'],
 ['3867'],
 ['5109'],
 ['1376'],
 ['5260'],
 ['2350'],
 ['2269'],
 ['3650'],
 ['3934'],
 ['4048'],
 ['4266'],
 ['3863'],
 ['4922'],
 ['4517'],
 ['3259'],
 ['3123'],
 ['3870'],
 ['2996'],
 ['2993'],
 ['4556'],
 ['2326'],
 ['4109'],
 ['5739'],
 ['5887'],
 ['1651'],
 ['1628'],
 ['2642'],
 ['6020'],
 ['4747'],
 ['5534'],
 ['4790'],
 ['4632'],
 ['1952'],
 ['4388'],
 ['5529'],
 ['1316'],
 ['1670'],
 ['4909'],
 ['3401'],
 ['4619'],
 ['4722'],
 ['2188'],
 ['5497'],
 ['5711'],
 ['4076'],
 ['1847'],
 ['2816'],
 ['5019'],
 ['4869'],
 ['3613'],
 ['3069'],
 ['2601'],
 ['2133'],
 ['3164'],
 ['3897'],
 ['5663'],
 ['3879'],
 ['5900'],
 ['2272'],
 ['5436'],
 ['3676'],
 ['4676'],
 ['1563'],
 ['4349'],
 ['1658'],
 ['2552'],
 ['4847'],
 ['1553'],
 ['2632'],
 ['1908'],
 ['5801'],
 ['1935'],
 ['2609'],
 ['2740'],
 ['1907'],
 ['1831'],
 ['5177'],
 ['6179'],
 ['2917'],
 ['1486'],
 ['3735'],
 ['3838'],
 ['2430'],
 ['2480'],
 ['3431'],
 ['1742'],
 ['4628'],
 ['2385'],
 ['2213'],
 ['5188'],
 ['3418'],
 ['5637'],
 ['3530'],
 ['3731'],
 ['3219'],
 ['2392'],
 ['5103'],
 ['3992'],
 ['2442'],
 ['2913'],
 ['1631'],
 ['4073'],
 ['4568'],
 ['1830'],
 ['2623'],
 ['4327'],
 ['3713'],
 ['2389'],
 ['5141'],
 ['3522'],
 ['1334'],
 ['4721'],
 ['3768'],
 ['1639'],
 ['5149'],
 ['2153'],
 ['2767'],
 ['5124'],
 ['2097'],
 ['4796'],
 ['5849'],
 ['1495'],
 ['2462'],
 ['2280'],
 ['1877'],
 ['6108'],
 ['4427'],
 ['2881'],
 ['2339'],
 ['5156'],
 ['4750'],
 ['4852'],
 ['5734'],
 ['3801'],
 ['4474'],
 ['1992'],
 ['5796'],
 ['1373'],
 ['1879'],
 ['3072'],
 ['4561'],
 ['5201'],
 ['5871'],
 ['3041'],
 ['5864'],
 ['3999'],
 ['4849'],
 ['5461'],
 ['5946'],
 ['4508'],
 ['5096'],
 ['5443'],
 ['2165'],
 ['2125'],
 ['6141'],
 ['5245'],
 ['2190'],
 ['2243'],
 ['3336'],
 ['3305'],
 ['6191'],
 ['1326'],
 ['6159'],
 ['2003'],
 ['5881'],
 ['1918'],
 ['2157'],
 ['3149'],
 ['2444'],
 ['6207'],
 ['5580'],
 ['5942'],
 ['1592'],
 ['2344'],
 ['5995'],
 ['5022'],
 ['5991'],
 ['4020'],
 ['6028'],
 ['2790'],
 ['4033'],
 ['1261'],
 ['1979'],
 ['2122'],
 ['4506'],
 ['3016'],
 ['3272'],
 ['1375'],
 ['4014'],
 ['3199'],
 ['2184'],
 ['2170'],
 ['1478'],
 ['6163'],
 ['1889'],
 ['5912'],
 ['2537'],
 ['2118'],
 ['3234'],
 ['3842'],
 ['3032'],
 ['3238'],
 ['2059'],
 ['5238'],
 ['2578'],
 ['4789'],
 ['2357'],
 ['1235'],
 ['3558'],
 ['1707'],
 ['2842'],
 ['5318'],
 ['1620'],
 ['4998'],
 ['3111'],
 ['1424'],
 ['3244'],
 ['4643'],
 ['6132'],
 ['3790'],
 ['1312'],
 ['5686'],
 ['2111'],
 ['5685'],
 ['1905'],
 ['3271'],
 ['4178'],
 ['3275'],
 ['5713'],
 ['3339'],
 ['5585'],
 ['4407'],
 ['1941'],
 ['4690'],
 ['3607'],
 ['2670'],
 ['5261'],
 ['4121'],
 ['4620'],
 ['4630'],
 ['3440'],
 ['3572'],
 ['5306'],
 ['5122'],
 ['1368'],
 ['5370'],
 ['5636'],
 ['6033'],
 ['3599'],
 ['5566'],
 ['1873'],
 ['3904'],
 ['4453'],
 ['5481'],
 ['2987'],
 ['2431'],
 ['4158'],
 ['3753'],
 ['4391'],
 ['2026'],
 ['4547'],
 ['2798'],
 ['4732'],
 ['5126'],
 ['5151'],
 ['2134'],
 ['5786'],
 ['5515'],
 ['4530'],
 ['4088'],
 ['3667'],
 ['3286'],
 ['4804'],
 ['5768'],
 ['6098'],
 ['2508'],
 ['5779'],
 ['1717'],
 ['3368'],
 ['4265'],
 ['4455'],
 ['2940'],
 ['6144'],
 ['3657'],
 ['1537'],
 ['2116'],
 ['5102'],
 ['5815'],
 ['4250'],
 ['4533'],
 ['3329'],
 ['3606'],
 ['4749'],
 ['2222'],
 ['1939'],
 ['2456'],
 ['2794'],
 ['2648'],
 ['2545'],
 ['3273'],
 ['6155'],
 ['6064'],
 ['1729'],
 ['4969'],
 ['3402'],
 ['2810'],
 ['2217'],
 ['5140'],
 ['4497'],
 ['5100'],
 ['3390'],
 ['1926'],
 ['3264'],
 ['2573'],
 ['3628'],
 ['3826'],
 ['5983'],
 ['5678'],
 ['2093'],
 ['5333'],
 ['5139'],
 ['3173'],
 ['3333'],
 ['2262'],
 ['1531'],
 ['4881'],
 ['3928'],
 ['1803'],
 ['2321'],
 ['6234'],
 ['1422'],
 ['2660'],
 ['5361'],
 ['3420'],
 ['4337'],
 ['2338'],
 ['4140'],
 ['2373'],
 ['1344'],
 ['2141'],
 ['3415'],
 ['5696'],
 ['1798'],
 ['1657'],
 ['3651'],
 ['3574'],
 ['6063'],
 ['2404'],
 ['2705'],
 ['5059'],
 ['5466'],
 ['5821'],
 ['5385'],
 ['3506'],
 ['5427'],
 ['6142'],
 ['2873'],
 ['3916'],
 ['1687'],
 ['1542'],
 ['3087'],
 ['3857'],
 ['5921'],
 ['3144'],
 ['2676'],
 ['3646'],
 ['1321'],
 ['1399'],
 ['3169'],
 ['2058'],
 ['1300'],
 ['2075'],
 ['2984'],
 ['4768'],
 ['3682'],
 ['5901'],
 ['3540'],
 ['2225'],
 ['1485'],
 ['5343'],
 ['5594'],
 ['2482'],
 ['2706'],
 ['4861'],
 ['2961'],
 ['3043'],
 ['6103'],
 ['4708'],
 ['4395'],
 ['4912'],
 ['2030'],
 ['5235'],
 ['5001'],
 ['4093'],
 ['2576'],
 ['6122'],
 ['2813'],
 ['3737'],
 ['2803'],
 ['5508'],
 ['3850'],
 ['4220'],
 ['4532'],
 ['6013'],
 ['3396'],
 ['4401'],
 ['2981'],
 ['4467'],
 ['1377'],
 ['5036'],
 ['5761'],
 ['3699'],
 ['4519'],
 ['5395'],
 ['3057'],
 ['2741'],
 ['1675'],
 ['2712'],
 ['4527'],
 ['1722'],
 ['4330'],
 ['5219'],
 ['4997'],
 ['2239'],
 ['4587'],
 ['4113'],
 ['4762'],
 ['5242'],
 ['5765'],
 ['2185'],
 ['5500'],
 ['3494'],
 ['3924'],
 ['3521'],
 ['5262'],
 ['3684'],
 ['5784'],
 ['1498'],
 ['6073'],
 ...]

In [142]:
contact_info_df_copy['contact_id'] = id_list
contact_info_df_copy

,,contact_id
0,contact_info,[]
1,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",[4661]
2,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",[3765]
3,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",[4187]
4,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",[4941]
...,...,...
996,"{""contact_id"": 3684, ""name"": ""Whitney Noack"", ""email"": ""whitney.noack@laboratorios.org""}",[3684]
997,"{""contact_id"": 5784, ""name"": ""Gelsomina Migliaccio"", ""email"": ""gelsomina.migliaccio@junk.com""}",[5784]
998,"{""contact_id"": 1498, ""name"": ""Evangelista Pereira"", ""email"": ""evangelista.pereira@thompson-peterson.biz""}",[1498]
999,"{""contact_id"": 6073, ""name"": ""Gareth Comolli"", ""email"": ""gareth.comolli@tiscali.fr""}",[6073]
1000,"{""contact_id"": 4939, ""name"": ""Michelangelo Hess"", ""email"": ""michelangelo.hess@bouygtel.fr""}",[4939]

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)